body{
    /* background-color: black;
    color: white; */
}

.border{
    border: 2px solid red;
    margin: 3px;
}

.left{
    width: 25vw;
    
}
.right{
    width: 75vw;
}

.home ul li {
    width: 34px;
    list-style: none;
}